<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <div class="Continer">
        <nav id=navbar class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><u> התנתק/י</a></u>
                            <p id="nameUserSize"><small>
                                    <%=username%>
                                </small></p>
                        </li>
                    </ul>
                    <img class=primary-icon3 src="images/logoMarket.png">
                </div>
            </div>
        </nav>

        <div class="text-end">
            <h1>:מוצרים</h1>
        </div>

        <!-- this div will hold all the items -->
        <div id=ItemCards class="Cards">
        </div>

        <br><br><br>

        <div class="text-end">
            <h1>:סניפים</h1>
        </div>
        <!-- this div will hold all the shops -->
        <div id=ShopCards class="Cards">
        </div>

    </div>

    <!-- scripts section -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/js/admin.js"></script>

    <!-- products script -->
    <script type="text/html" id="Search_Template">
        <div class="Card" id="item{ID}" product={type}>                    
            <img alt={type} src={img} class="img">
            <p class="text-lowercase name">{name}</p>
            <p class="text-lowercase price">{price}</p>
            <ul class="nav justify-content-end">
                <li class="nav-item1">
                    <button id=editBtn type="button" class="btn btn-outline-info" onclick=edititem({ID})>ערוך</button>
                    <!--כפתור בכרטיס-->
                </li>
                <li class="nav-item2 ">
                    <form action="/deleteitem" method="post">
                        <button id=deleteBtn type="submit" class="btn btn-outline-info">מחק</button>
                        <input name="name"  class="form-control fw-lighter">
                    </form>
                    <!--כפתור בכרטיס-->
                </li>
            </ul>
        </div>
    </script>

    <!-- products edit script -->
    <script type="text/html" id="edit_product_template">
            <form action="/edititem" method="post">
                <input name="img" id="inputimg" class="form-control fw-lighter">
                <input name="name" id="inputname" class="form-control fw-lighter">
                <input name="price" id="inputprice" class="form-control fw-lighter">
                <input name="originalname" id ="originalname" class="form-control">
                <ul class="nav justify-content-end">
                    <li class="nav-item1">
                        <button type="submit" class="btn btn-outline-info">שמור</button>
                        <!--כפתור בכרטיס-->
                    </li>
                    <li class="nav-item2">
                        <button type="button" class="btn btn-outline-info" onclick=CancelProductEdit()>בטל</button>
                        <!--כפתור בכרטיס-->
                    </li>
            </form>                 
    </script>
    
    <!-- Shops scrtip -->
    <script type="text/html" id="Shops_Template">
        <div class="Card" id="shop{ID}">                    
            <p class="text-lowercase name">{name}</p>
            <p class="text-lowercase address">{address}</p>
            <ul class="nav justify-content-end">
                <li class="nav-item1">
                    <button type="button"  id="editBtn" class="btn btn-outline-info" onclick=editshop({ID})>ערוך</button>
                </li>
                <li class="nav-item2 ">
                    <form action="/deleteshop" method="post">
                        <button type="submit" id="deleteBtn" class="btn btn-outline-info">מחק</button>
                        <input name="name" class="form-control fw-lighter">
                    </form>
                </li>
            </ul>
        </div>
    </script>

    <!-- shops edit script -->
    <script type="text/html" id="edit_shop_template">
        <form action="/editshop" method="post">
            <input name="name" id="inputname" class="form-control fw-lighter">
            <input name="address" id="inputaddress" class="form-control fw-lighter">
            <input name="originalname" id ="originalname" class="form-control">
            <ul class="nav justify-content-end">
                <li class="nav-item1">
                    <button type="submit" class="btn btn-outline-info">שמור</button>
                    <!--כפתור בכרטיס-->
                </li>
                <li class="nav-item2">
                    <button type="button" class="btn btn-outline-info" onclick=CancelShopEdit()>בטל</button>
                    <!--כפתור בכרטיס-->
                </li>
        </form>                 
</script>

</body>

</html>