<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <div class="Continer">
        <nav id=navbar class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                העגלה שלי
                                <img class=primary-icon src="images/shopping-cart.png"></a>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> הרשימות שלי <img class=primary-icon2
                                    src="images/clipboard.png"></a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled">רשימת סניפים</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">זמני משלוח</a>
                        </li>
                    </ul>

                    <div class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            id="SearchBar">
                        <div class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></div>
                        </div>
                    <img class=primary-icon3 src="images/logoMarket.png">
                </div>
            </div>
        </nav>

        <div class="container-fluid1">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <img class="category" src="images/bottle.png"><a id='drink_product' class="nav-link" href="#">משקאות</a>
                </li>

                <li class="nav-item">
                    <img class="category" src="images/meat.png"><a id='meat_product' class="nav-link" href="#">בשר ודגים</a>
                </li>

                <li class="nav-item">
                    <img class="category" src="images/dairy-products.png"> <a id="dairy_product" class="nav-link" href="#">מוצרי חלב</a>
                </li>

                <li class="nav-item">
                    <img class="category" src="images/fruits.png"><a id='fruit_product' class="nav-link" href="#">פירות וירקות</a>
                </li>
            </ul>
        </div>

        <!-- this div will hold the itemss search results -->
        <div id=Cards class="Cards">
        </div>

    </div>

    <!-- scripts section -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <!-- <script src="/js/login.js"></script> -->

    <!-- products script -->
    <script type="text/html" id="Search_Template">
        <div class="Card" product={type}>                    
            <img alt={type} src={img}>
            <p class="text-lowercase">{name}</p>
            <p class="text-lowercase">{price}</p>
            <ul class="nav justify-content-end">
                <li class="nav-item1">
                    <button type="button" class="btn btn-outline-info">הוסף לסל</button>
                    <!--כפתור בכרטיס-->
                </li>
        </div>
    </script>

</body>

</html>