<!doctype html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LoginPage</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="css/login.css" rel="stylesheet">
</head>

<body>

  <form class="card row" action="/login" method="post">
    <div class="col-4 container d-grid gap-3 fw-lighter">
      <div class="text-center">
        <h1 class="modal-title mt-5 fw-bold">כניסה לסופר משתלם</h1>
      </div>
      <div class="col-md-12">
        <h7>אנא הכנס/י שם משתמש</h7>
        <input name="username" class="form-control fw-lighter" placeholder="שם משתמש">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="col-md-12">
        <h7>אנא הכנס/י סיסמא </h7>
        <input name="password" type="password" class="form-control fw-lighter" placeholder="סיסמא">
        <div class="d-grid gap-3">
          <div class="d-grid gap-3 col-3 mx-auto">
            <button type="submit" class="btn btn-primary mt-5">כניסה</button>
          </div>
        </div>
        <div class="text-center fw-lighter ">
          <div id="emailHelp" class="form-text mt-3">עוד לא רשום?
          <a href="/register">הירשם</a>
          </div>
        </div>
      </div>
  </form>
</body>

</html>