<!doctype html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LoginPage</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="css/login.css" rel="stylesheet">
</head>

<body>

  <form class="card row" action="/login" method="post">
    <div class="col-4 container d-grid gap-3">
      <div class="text-center">
        <h1 class="modal-title">כניסה לסופר משתלם</h1>
      </div>
      <div class="col-md-12">
        <h7>אנא הכנס/י שם משתמש</h7>
          <input name="username" class="form-control" placeholder="שם משתמש">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="col-md-12">
      <h7>אנא הכנס/י סיסמא </h7>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="סיסמא">
        <div class="d-grid gap-3">
      <div class="d-grid gap-3 col-3 mx-auto">
      <button type="submit" class="btn btn-primary">כניסה</button>
      </div>
    </div>
      <div class="text-center ">
        <div id="emailHelp" class="form-text">עוד לא רשום? הירשם!</div>
      <a href="/register">הירשם</a>
    </div>
    </div>
</form>


  <!-- text-center -->
  <!-- <img class=icon1 src="images/logoMarket.png"> -->



  <!-- name -->
  <!-- <label for="FullName" class="form-label">אנא הכנס/י שם מלא</label>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="שם פרטי" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="שם משפחה" aria-label="Last name">
            </div>
          </div>
            <!-- email -->
  <!-- <label for="inputEmail4">מייל</label>
         <input type="email" class="form-control" id="inputEmail4">
          <div id="emailHelp" class="form-text">.אל תדאג/י, לא נשתף את המייל שלך</div>
        </div>
            password -->
  <!-- <div class="col-12">
          <label for="inputPassword4" class="form-label">סיסמא</label>
          <input type="password" class="form-control" id="inputPassword4">
          <div id="emailHelp" class="form-text">סיסמה בת 5 תווים, מספרים בלבד.</div>
        </div> -->

  <!-- adress -->
  <!-- <div class="col-12">
          <label for="inputAddress" class="form-label">כתובת</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="דוד המלך 50">
        </div> -->

  <!-- city -->
  <!-- <div class="col-12">
          <label for="inputCity" class="form-label">עיר</label>
          <input type="text" class="form-control" id="inputCity">
        </div>  
           <div class="col-12 form-check"> 
            <label for="inputSex" class="form-label">אנא בחר מין</label>
            <div class="form-check-reverse">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="male">
              <label class="form-check-label" for="flexRadioDefault1">
                זכר
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="female" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                נקבה
              </label>
            </div>
          </div>
           
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
      </form> -->

</body>

</html>