*{
margin: 0;
padding: 0;
}

.Continer{

    place-items: center;
    height: 100%;
    
}
body{
    background-image: url("../images/background.png"); 
    background-blend-mode: multiply;
}

#navbar{
    opacity: 0.8;
}
.primary-icon{
    height: 20px;
    width: 20px;
}

.primary-icon2{
    height: 20px;
    width: 20px;
    
}
.primary-icon3{
    height: 90px;
    width: 125px; 
}
.Cards{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3,1fr); /*קובע מספר עמודות ושורה*/
    place-items: center;
}
.Card{
    height: 230px; /*גודל כטיסייה*/
    width: 220px; /*גודל כטיסייה*/
   background-size: 130%;
    display: grid;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
    background-color: white;
    opacity: 0.8;
}
.Card img{  /*גודל תמונה בתוך הכרטיס*/
    max-height: 120px;
    max-width: 150px;
    opacity: 1; /*אחראי את התמונה על הכרטיס אם היה 0 לא היינו רואים*/
    
    
}
.Card:hover{
    border:3px solid rgb(117, 182, 243);
    
}
.Card.clicked img, .Card.checked img{
    opacity: 1;
}

#timer{
    height: 30px;
    width: 20px;
}

.col-sm-2 {
    flex: 0 0 auto;
    width: 40.66666667%;
}

 .container-fluid1{
    justify-content: right;
    background-color: white;
    opacity: 0.9;
 }
 .category{ /*גודל אייקון של קטגוריות*/
    height: 50px;
    width: 50px;

 }
 .nav-item1{ /*מיקום תיאור תמונה בכרטיס*/
    margin-right: -90px;
 }
 .nav-item{ /*מיקום אייקון קטגוריות*/
    text-align:center; 
 }
 
.btn-outline-info{ /*מסגרת כפתור בכרטיס*/
    height: 31px; /*גובה*/
    width: 95px; /*רוחב*/
}

 