body {
    background-image: url("../images/background.png") !important;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    border: 0px !important;
    background-color: transparent !important;
}

/* .icon1{
    height: 90px;
    width: 125px; 
} */