body {
    background-image: url("../images/background.png") !important;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border: 0px !important;
    background-color: transparent !important;
}

/* .icon1{
    height: 90px;
    width: 125px; 
} */